.App {
  text-align: center;
  height: 100%;
  font-family: Avenir, Helvetica, Arial, sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  text-align: center;
  color: #2c3e50;
  margin-top: 60px;
  max-width: 900px;
  margin: auto;
  display: flex;
  align-items: center;
  justify-content: center;
}

.linha{
  margin-top: 40px;
  display: flex;
  justify-content: space-around;
}